:root {
box-sizing: border-box;

  /*COLORS*/
  /*--shopWall-beige: hsla(36, 16%, 61%, 1); /*v00*/
  --shopWall-beige: hsla(36, 36%, 61%, 1); /*v01*/
  /*--shopWall-screenWhite: hsla(0, 0%, 90%, 1);/*TBD*/

  /*TYPE-SIZES*/
  --TypeSizes-Large: 48px;
  --TypeSizes-Normal: 24px;
  --LetterSpacing-Wide: 2px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--shopWall-beige);
}

/* main {
display: flex;
width: 7680px;
height: 1080px;
align-items: flex-start;
} */

/*Sections*/

#signage {
  z-index: -1000;
  display: flex;
  width: 7680px;
  height: 1080px;
  align-items: flex-start;
  justify-content: space-between;
}

#changingContent {
    position: absolute;
    top: 0;
    z-index: 0;
    display: flex;
    width: 7680px;
    height: 1080px;
    align-items: flex-start;
    justify-content: space-around;
}

/*Typography*/

.signaletik {
  font-family: "Akkurat";
  font-size: var(--TypeSizes-Large, 48px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--TypeSizes-Large, 48px); /* 100% */
  letter-spacing: var(--LetterSpacing-Wide, 2px);
  text-transform: uppercase;
}

h5 {
  font-family: "Akkurat";
  font-size: var(--TypeSizes-Normal, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--TypeSizes-Normal, 24px); /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.textRight {
    text-align: right;
}

/*Signage container classes*/

.zeroGap
{
    gap: 0 !important;
}

.noBorders{
    border: 0 !important;
}


.signageComp {
  display: flex;
  width: 960px;
  height: 1080px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}

.signageCompRight {
    align-items: flex-end;
}

/* .signageTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
} */

.signageEntry {
  display: flex;
  width: 960px;
  padding: 36px;
  align-items: center;
  gap: 32px;
}

.signageEntryRight {
  justify-content: flex-end;
}

.signageSymbols {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: center;
}

.signageSymbolsVertical {
    flex-direction: column;
    justify-content: space-between;
}

.signageTriangle {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.signageIcon {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid var(--main-primary, #000);
}

.signageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.signageTextRight {
    align-items: flex-end;
}

.signageTextTitle,
.signageTextPlace {
  color: var(--main-primary, #000);
  text-box-trim: trim-both; /*supported from Chrome 133*/
  text-box-edge: cap; /*supported from Chrome 133*/
}

/* sketch for replacing text items*/
.signageTextTitle
{
  position: relative;
  height: 48px;
  width: 888px;
}

.signageTextPlace{
  position: relative;
  width: 888px;
  height: 16px
}

.signageTextTitle.twoLines
{
  position: relative;
  height: 96px;
  width: 888px;
}


/*changing Content container classes*/

.slideContent {
 position: fixed;
 top: 0;
 left: 960px;
}